<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->

        
        <!-- plugins -->
        



<!-- preferences -->


 <preference name="fullscreen"                 value="true" /> 
 
 <!-- access -->
 
 <access origin="https://www.google.com/maps/" subdomains="true" />
 
 <!--icon-->
 <icon src="images/logo.png" />
 
 <!--splash
  <gap:splash src="images/logogreen.png"         gap:platform="ios"     width="320" height="480" />
    <gap:splash src="images/logogreen.png"      gap:platform="ios"     width="640" height="960" />
    <gap:splash src="images/logogreen.png" gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="images/logogreen.png"           gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="images/logogreen.png"          gap:platform="ios"     width="1024" height="768" />-->
 
