<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget id="com.dublin1916test" version="0.0.1" xmlns="http://www.w3.org/ns/widgets">
       <name>Dublin 1916</name>
       <description>MSc final project</description> 
        <!-- plugins -->
        <content src="index.html"></content>



<!-- preferences -->


 <preference name="fullscreen"                 value="true" /> 
 
 <!-- access -->
 
 <access origin="https://www.google.com/maps/" subdomains="true" />
 <allow-navigation href="https://www.google.com/maps/" />
 <allow-intent href="https://www.google.com/maps/ />
 <!--icon-->
 <icon src="images/logo.png" />
 

 
</widget>